@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.swiper-pagination-bullet-active {
    background-color: #6dcdd0 !important;
}
.swiper-pagination-bullet {
    background-color: #6dcdd0 !important;
}